{% extends "base.html" %}
{% block title %}Сменить пароль{% endblock title %}
{% block content %}
<div class="row my-3">
    <div class="col-lg-3">
        {% include 'inc/user_nav.html' %}
    </div>
   <div class="col">
        <div class="container justify-content-center row">
            <div class="col-lg-6">
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="card-header">
                        <h3 class="font-weight-light my-4 text-center">Сменить пароль</h3>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_old_password">Старый пароль</label>
                                        <input type="password" name="old_password" autocomplete="new-password"
                                                class="form-control" required id="id_old_password"
                                                placeholder="Ваш старый пароль"/>
                                        <span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_new_password1">Новый пароль</label>
                                        <input type="password" name="new_password1" autocomplete="new-password"
                                                class="form-control" required id="id_new_password1"
                                                placeholder="Ваш новый пароль"/>
                                        <span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_new_password2">Потдвердите новый пароль</label>
                                        <input type="password" name="new_password2" autocomplete="new-password"
                                                required id="id_new_password2" class="form-control"
                                                placeholder="Еще раз введите новый пароль"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group my-3">
                                        <button type="submit" class="col-md-12 btn btn-dark" id="reset">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
{% endblock content %}