<!--Section: Jumbotron-->
<section class="card wow fadeIn mb-5" style="background-image: url(static/img/t.jpg);">

  <!-- Content -->
  <div class="card-body text-white text-center py-5 px-5 my-5">

    <h1 class="mb-4">
      <strong>1й МОРСКОЙ</strong>
    </h1>
    <p>
      <strong>Маркетплейс водной техники и запчастей</strong>
    </p>
    
    <p class="mb-4">
      <strong>Более 500 000 объявлений. Покупайте и продавате судной любого размера.</strong>
    </p>
    <a target="_blank" href="{% url 'add_post' %}" class="btn btn-outline-light btn-lg">Опубликовать объявление
      <i class="fas fa-graduation-cap ml-2"></i>
    </a>

  </div>
  <!-- Content -->
</section>
